<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico">
    <title>Go WebSocket Chat with Tic-Tac-Toe</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>

<body>
    <!-- Tic-Tac-Toe Game Section -->
    <div id="game">
        <h2>Tic-Tac-Toe</h2>
        <div id="user"></div>
        <div id="tic-tac-toe"></div>
        <div id="player-info"></div>
        <div id="ready">
            <span>Ready up </span>
            <input id="ready-toggle" onclick="toggleReady()" type="checkbox">
        </div>
    </div>

    <!-- WebSocket Chat Section -->
    <div id="chat">
        <h2>Go WebSocket Chat</h2>
        <div id="messages"></div>
        <div id="input">
            <input type="text" id="message" placeholder="Enter message" />
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>

    <script src="../static/js/lobby.js"></script>
</body>

</html>
